@media (max-width: 1200px) {
    .container {
        max-width: 760px;
    }
    .footitems {
        font-size: 12px;
    }
    .bl2text {
        margin-bottom: 150px;
    }
    .b1:hover, .b2:hover, .b3:hover {
        box-shadow: none;
        border-radius: none;
        cursor: pointer;
        transform: none; 
    }
    .bl1cards {
        flex-flow: column;
    }
}

@media (max-width: 1075px) {
    .title {
        flex-flow:column-reverse;
        justify-content: center;
        margin-bottom: 200px;
        text-align: center;
        align-items: center;
    }
    .biglogo {
        margin-bottom: 30px;
    }
    
}

@media (max-width: 900px) {
    
    .container {
        max-width: 620px;
    }
    .bl2content {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .bl4h2 {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 320px;
    }
    .hh1 {
        font-size: 42px;
    }
    .bl3img {
        width: 100%;
    }
    .form {
        max-width: 350px;
        
        border-radius: 160.5px 0px;
    }
    .input1, .input2 {
        width: 250px;
    }
    .input1 {
        margin-top: 100px;
    }
    .footic {
        margin-bottom: 0px;
    }
    .footnav {
        margin-top: 25px;
        flex-flow: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
    .footitems {
        margin-right: 0;
    }
    .formbt {
        margin-bottom: 80px;
    }
    h2, .bl2h2, .bl3h2, .bl4h2 {
        font-size: 32px;
    }
    .block1, .section2, .block3,.block4 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .title {
        margin-top: 100px;
    }
    .title-button {
        margin-bottom: 80px;

    }
}